*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

a{
	text-decoration: none;
	color : white;
}


/* 1440*/
body{
	text-align: center;
	margin: 0px;
	
}

html{
	background-image: url('../image/fondo-1440-620.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height:100%;
}
/*Home page */

#content_containter{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 1440px;
	display: inline-block;
	
}

.content_div_1{
	display: inline-block;
	width: 1176px;
	height: 567px;
	background-image: url('../image/cuadro-home-1176-567.png');
	padding: 58px 54px 54px 58px;
}


#page-container
{
	display:block;
	width: 100%;
}

.header_container{
	height: 100px;
	background-image: url('../image/header1-1440-167.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
}

.logo_container{
	margin-top: 0px;
	position: relative;
	display: inline-block;
	margin-left: 80px;
	text-align: left;
	
	top: 28px;
}
.page-header{
	text-align:left;
}
#main-area{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align:center;
	
}
/*Esto deberia despues ponerse todo en un solo archivo */

#menu_button{

	height: 46px;
	width: 46px;
	margin-top: 30px;
	float: left;
	background-image: url("/image/boton-menu-43-43.png");
	margin-left: 20px;
	cursor: pointer;
}

#menu{
	float: left;
	background-image: url("/image/menu-172-426.png");
	background-repeat: no-repeat;
	height: 426px;
	overflow: hidden;
    position: absolute;
	width: 175px;
}

.menu_open{
	
	-moz-transition: left 1s ;
    -webkit-transition: left 1;
    -o-transition: left 1s ;
    transition: left 1s ;
	left: -20px;
}

.menu_close{
	-moz-transition: left 1s;
    -webkit-transition: left 1s ;
    -o-transition: left 1s ;
    transition: left 1s ;
	left: -175px;
}

.header_div_1
{
	height: 112px;
	background-image: url('../image/header2-1440-112.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	text-align: left;

}
.header_div_2
{
	width: 1440px;
	display: inline-block;
	text-align: left;
}
.header_div_3
{
	background-repeat: no-repeat;
	height: 82px;
	display: inline-block;
	margin-top: 15px;
	width: 540px;
	padding-left: 90px;
	margin-left: 210px;
}

.menu_container{
	margin-top: 18px;
	padding: 20px 7px 20px 30px;
	color:white
}

.menu_container li{
	height: 32px; 
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor:pointer;
	text-align: left;
}

.menu_container a{
	text-decoration:none;
	color : white;
}

.menu_container img{
	height: 22px;
}

.header_div_home{
	background-image: url('../image/barra-home-534-78.png');
}

.header_div_item
{
	background-image: url("../image/barra-items-534-78-01.png");
}

.header_title_1{
	color: white;
    font-family: arial,rial;
    height: 38px;
    margin-left: 3px;
    margin-top: 25px;
    overflow: hidden;
    width: 210px;
}

.form_search{
	float: right;
	background-image: url('/image/barra-generica-478-47.png');
	border-width: 0px;
	margin-top: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 1px;
	padding-right: 66px; 
	padding-left: 0px; 
	width: 386px; 
	height: 51px;
}

.form_search p {
	float: left;
	width: 82px;
	padding-left: 17px;
	color: white;
	font-size: 20px;
	margin-top: 13px;
}

.form_search input{
	border-width: 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 1px;
	padding-right: 0px;
	padding-left: 0px;
	float: left;
	width: 238px;
	height: 28px;
	margin-top: 10px;
}
#content_containter{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 1440px;
	display: inline-block;
}

@media all and (max-width: 1024px)
{	
	body
	{
		min-width: 780px;
	}
	
	#menu_button{
	margin-top: 20px;
	}
	
	.header_container{
	 height: 101px;
	 background-size: 100% 100%;
	}

	#logo_container{
	margin-top: 0px;
	top: 75px;
	margin-left: 40px;
	}
	
	.logo_container img {
		height: 120px;
		width: 120px;
	}

	.header_div_1{
		height: 85px;
	}
	.header_div_2
	{
		height: 85px;
		width: 780px;
	}
	
	.header_div_3{
		padding-left: 56px;
		height: 82px; margin-top: 15px;
		margin-left: 210px; width: 364px;
	}
	
	.header_div_home
	{
		 background-image: url("../image/barra-home-356-53.png");
	}
	
	.header_div_item
	{
		 background-image: url("../image/barra-item-356-53-01.png");
	}
	
	
	.search_option_result
	{
		width: 40px;
		height: 40px;
	}
	
	.header_title_1{
		font-size: 20px;
		margin-bottom: 12px;
		margin-left: 0;
		margin-top: 17px;
		overflow: hidden;
		width: 149px;
	}
	#content_containter{
	margin-top: 100px;
	width: 780px;
	}
	
	.form_search{
	float: none;
	margin-top: 15px;
	margin-left: 260px;
}
}


@media all and (max-width: 420px)
{
	body{
		min-width: 320px;
	}
	
	#menu_button{
	margin-top: 3px;
	margin-left: 5px;
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
	}
/*
#menu{
	width: 87px;
	height: 213px;
	background-size: 87px 213px;
}
*/
	.header_container{
		height: 41px;
	}
	
	.logo_container{
		margin-left: 40px;
	}
	
	.logo_container img{
		width: 53px;
		height: 53px;
	}
	.header_div_1{
		height: 35px;
	}
	
	.header_div_2{
		height: 35px;
		margin-left: 0px;
	}
	
	.header_div_3{
		width: 184px;
		padding-left: 0px;
		background-size: 100% 100%;
		height: 35px;
		margin-top: 0px;
		margin-left: 70px;
	}
	
	.header_title_1{
		margin-top: 10px;
		height: 24px;
		padding-left: 33px;
		font-size: 10px;
		width: 104px;
		overflow:hidden;
	}
	
	#content_containter{
		width: 320px;
		margin-top: 75px;
	}
	
	.form_search{
		margin-top: 0px;
		margin-left: 100px;
		width: 200px;
		height: 33px; 
		padding-bottom: 8px;
		padding-right: 34px;
	}
	
	.form_search p {
	font-size: 10px;
	margin-top: 10px;
	padding-left: 10px;
	width: 42px;
   }
   
   .form_search input{ 
	 width: 124px;
	 margin-top: 5px;
	 height: 21px;
	 padding-right: 5px;
	 padding-left: 5px;
   }
}


/*Home page */

.home_div{
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 148px;
 width: 148px;
 display: inline-block;
 cursor: pointer;
 background-color:transparent;
}

#home_account_info_div{
	background-image: url('/image/boton-off-accountinfo-148-148.png');
}

#home_account_info_div:hover{
	background-image: url('/image/boton-on-accountinfo-148-148.png');
}

#home_account_found_div{
	background-image: url('/image/boton-off-founditem-148-148.png');
}

#home_account_found_div:hover{
	background-image: url('/image/boton-on-founditem-148-148.png');
}


#home_account_lost_div{
	background-image: url('/image/boton-off-lostitem-148-148.png');
}

#home_account_lost_div:hover{
	background-image: url('/image/boton-on-lostitem-148-148.png');
}


#home_account_request_div{
	background-image: url('/image/boton-off-founditem-148-148.png');
}

#home_account_request_div:hover{
	background-image: url('/image/boton-on-founditem-148-148.png');
}


#home_account_order_div{
	background-image: url('/image/boton-off-orders-148-148.png');
}

#home_account_order_div:hover{
	background-image: url('/image/boton-on-orders-148-148.png');
}

#home_account_shipments_div{
	background-image: url('/image/boton-off-sumits-148-148.png');
}

#home_account_shipments_div:hover{
	background-image: url('/image/boton-on-sumits-148-148.png');
}

#home_account_notifications_div{
	background-image: url('/image/boton-off-notifications-148-148.png');
}

#home_account_notifications_div:hover{
	background-image: url('/image/boton-on-notifications-148-148.png');
}

#home_account_help_div{
	background-image: url('/image/boton-off-notifications-148-148.png');
}

#home_account_help_div:hover{
	background-image: url('/image/boton-on-notifications-148-148.png');
}





/* End Home page*/