*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

a{
	text-decoration: none;
	color : white;
}


/* 1440*/
body{
	text-align: center;
	margin: 0px;
	min-width:1440px;
}

/*Home page */

.home_div{
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 148px;
 width: 148px;
 display: inline-block;
 cursor: pointer;
 background-color:transparent;
}

#home_account_info_div{
	background-image: url('/image/boton-off-accountinfo-148-148.png');
}

#home_account_info_div:hover{
	background-image: url('/image/boton-on-accountinfo-148-148.png');
}

#home_account_found_div{
	background-image: url('/image/boton-off-founditem-148-148.png');
}

#home_account_found_div:hover{
	background-image: url('/image/boton-on-founditem-148-148.png');
}


#home_account_lost_div{
	background-image: url('/image/boton-off-lostitem-148-148.png');
}

#home_account_lost_div:hover{
	background-image: url('/image/boton-on-lostitem-148-148.png');
}


#home_account_request_div{
	background-image: url('/image/boton-off-founditem-148-148.png');
}

#home_account_request_div:hover{
	background-image: url('/image/boton-on-founditem-148-148.png');
}


#home_account_order_div{
	background-image: url('/image/boton-off-orders-148-148.png');
}

#home_account_order_div:hover{
	background-image: url('/image/boton-on-orders-148-148.png');
}

#home_account_shipments_div{
	background-image: url('/image/boton-off-sumits-148-148.png');
}

#home_account_shipments_div:hover{
	background-image: url('/image/boton-on-sumits-148-148.png');
}

#home_account_notifications_div{
	background-image: url('/image/boton-off-notifications-148-148.png');
}

#home_account_notifications_div:hover{
	background-image: url('/image/boton-on-notifications-148-148.png');
}

#home_account_help_div{
	background-image: url('/image/boton-off-notifications-148-148.png');
}

#home_account_help_div:hover{
	background-image: url('/image/boton-on-notifications-148-148.png');
}





/* End Home page*/