/* Estilos */
.uploader_modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	text-align:center;
}
.uploader_modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.uploader_modalDialog > div {
    display: inline-block;
	position: relative;
	margin: 10% auto;
	padding: 15px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	background: #fff;
	text-align:center;
}
.uploader_close {
	color: #000;
	padding:5px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	font-size:16px;
}

.uploader_close:hover { color:#990000; }
.uploader_progresoCont { text-align:center; }
.uploader_barra { 
	width: 200px; 
	height: 20px; 
	color: black;        
	margin:5px auto;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
    background-color:#000;
	display:block;
	padding:1px;
}
.uploader_progreso { 
	width: 0px; 
	height: 18px;
	background-color: #16a085;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.uploader_oculto { 
	visibility: hidden;
	position: absolute;
} 
.uploader_jcrop-centered
{
    display: inline-block;
	border: 1px solid #2c3e50;
}
.uploader_guardar, .uploader_cancelar, .uploader_btn {
	margin:10px;
	display:inline-block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family:verdana;
	font-size:14px;
	padding:10px;
	color:#fff;
	text-decoration:none;
	text-shadow: 2px 1px rgba(0, 0, 0,0.5);
	cursor:pointer;
}
.uploader_guardar { 
	background-color:#2980b9;
} 
.uploader_cancelar { 
	background-color:#c0392b;
} 
.uploader_subirimagenes:hover {
	background-color:#3498db;
	font-size:16px;
} 
.uploader_btn { 
	background-color:#2c3e50;
	font-size:60px;
	text-align:center;
	height: 100px; 
	width: 100px;
	padding-top: 0px;
} 
.uploader_btn:hover {
	background-color:#34495e;
} 
ul,li {
	list-style-type:none;
	margin:0;
	padding:0;
}
.uploader_lista-imagenes {
	background-image: url('/image/No_image_available_125x132.png');
    background-size: 100% 100%;
	width:100%;
	height: 120px;
	width: 120px;
	list-style: outside none none;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 0px; 
	bottom: 0px;
}
.uploader_lista-imagenes li {
	display:block;
	float:left;
	position:relative;
	height: 120px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:white;
}
.uploader_clasethumb {
	width:120px;
	height:120px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #2c3e50;
	
}
.uploader_eliminar {
	position: absolute;
	bottom:11px;
	right:11px;
	text-align:center;
	background-color:rgba(192, 57, 43,0.7); 
	padding:5px;
	font-size:12px;
	text-decoration:none;
	color:#FFF;
	font-family:verdana;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor:pointer;
}
.uploader_eliminar:hover {
	background-color:rgba(231, 76, 60,1.0); 
	font-weight:bold;
}

.upload_container_outer,.upload_container_outer_2{
	max-width: 120px;
	overflow-x: auto;
	overflow-y: hidden;
	height: 120px; float: left;
}

.upload_container_inner, .upload_container_inner_2{
	height: 120px;
	width: 120px;
}

.upload_container_input{
	height: 120px;
	width: 120px;
	float: left;
	margin-left: 25px;
}

.upload_container_crop_controls{

}

.images_holder{
	clear: both; 
	content: "";
	display: table;
	padding-left: 20px;
	width: 300px;
}

.control_lista-imagenes{
  position: relative;
  top: 75px;
  height: 30px;
  margin-top: -32px;
  z-index: 2;
  margin-left: -23px;
  width: 176px;
}
a#prev {
	background:url(arrow.gif) 0 -31px no-repeat; 
	height: 32px; float: left; width: 30px; margin-left: -2px;
	background-color:transparent;
}

a#prev:hover {
	background:url(arrow.gif) 0 0 no-repeat;
}

a#next {
	background:url(arrow.gif) -32px -31px no-repeat;
height: 32px; float: right; width: 28px;	
}

a#next:hover {
	background:url(arrow.gif) -32px 0 no-repeat;
	background-color:transparent;
}
